# Whitelist Mode
/*

# Git Files
!.gitignore

# GitHub Files
!README.md
!LICENSE

# Source Files
!src/

# VSCode Files
!.vscode/
!.vscodeignore

# NodeJS Build Files
!package.json
!package-lock.json

# Scala Build Files
!project/
!build.sbt

project/*
!project/plugins.sbt
!project/build.properties
